@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 3000px;
  background: linear-gradient(141deg, #ffffff 0%, #f6f6f6 30%, #ececec 51%, #e1e1e1 75%, #d0d0d0 90%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
